@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/*cor
f6b325
#F6B325
#423F50

*/
*{
    padding: 0px;
    margin: 0px;

}
body{
    background-color: #423F50;
    color: white;
    font-family: 'Quicksand', sans-serif;

}
/*Menu*/
.icone {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-right: 80px;
}
.icone p{
    font-size: 1.5em;
}
.navegar{
    display: flex;
    padding: 10px;
}
.icone img {
    width: 30px;

}
.cabesalho-menu{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
    width: 85vw;
  
    justify-content: space-between;
}
.cabesalho-menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    
}
.cabesalho-menu ul li{
    margin-right: 20px;
}
.cabesalho-menu ul li a{
    color: white;
    text-decoration: none;
}
/*conteudo-principal*/
.conteudo-principal{
    margin: auto;
    width: 98.7vw;
    height: 160vh;
  
    background-color: #423F50;
}
/*conteudo-home*/
.conteudo-home{
    display: flex;
    width: 85vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
 
}
/*Sobre mim*/
.sobre-mim{
    width: 400px;
}
#imagem img{
    width: 350px;
    margin-left: 60px;
}
#imagem{
    display: flex;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #282834;
    border-radius: 100%;
}

.im {
    font-size: 2em;
    margin-bottom: 15px;
}
.nome{
    font-size: 3.6em;
    margin-bottom: 15px;
}
.linha{
    width: 150px;
    height: 3px;
    margin-bottom: 15px;
    background-color: #F3B727;
}
#servico{
    width: 400px;
   
}

#text{
    margin-bottom: 15px;
}
#more{
    text-decoration: none;
    color: #F3B727;
}

/*minha-rede*/
.conteudo-sobre{
    position: relative;
}
.redes{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 85vw;
    transform: translate(-50%,-50%);
    left: 50%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.342);
    margin: auto;
    background-color: #423F50;
    padding: 10px; 
}
#rede1,#rede2{
    align-items: center;
    font-size: 5em;
    margin-right: 40px;
    color: #ffffff;
}
#rede1:hover{
    color: #016DA8;
    transition: .5s ease;
}
#rede2:hover{
    color: black;
    transition: .5s ease;
}
/*minha-experiencia*/
.minha-experiencia{
    display: flex;
    flex-direction: column;
    width: 98.7vw;
    height: 110vh;
    background-color: #282834;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.minha-experiencia h2{
    font-size: 4em;
}
.experiencia{
    display: flex;
    width: 85vw;
    text-align: center;
    margin-top: 20px;
    
}
#ex{
    transition: 1s ease;
    background-color: #423F50;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.342);
    padding: 20px;
    width: 390px;
    height: 310px;
 
}
#ex:hover{
    width: 395px;
    height: 310px;
}
.cont-ecrito p{
    font-size: 1.2em;
    align-items: center;
}
.html i,.css i,.js i{
    font-size: 10em;
}
.html:hover{
    color: #E56027;
    transition: 1s ease;
    
}
.css:hover{
    color: #146CAD;
    transition: 1s ease;
}
.js:hover{
    color: #EAD41C;
    transition: 1s ease;
}
/*conteudo-projetos*/
.conteudo-projetos{
    margin: auto;
    width: 85vw;
    height: 160vh;
}
.conteudo-projetos p{
    margin-bottom: 10px;
    font-size: 3em;
}

.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
    margin-bottom: 40px;
    grid-template-areas: 
    "p1 p2";
    gap: 140px;
}
.projetos1{
    grid-area: p1;
    grid-area: p2;
}
#pj{
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282834;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.308);
    transition: 1s ease;
}
#pj img:hover{
    transition: 1s ease;
    width: 37vw;
}

#pj img{
    transition: 1s ease;
    width: 35vw;
}
.mais{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    width: 35vw;
 
    gap: 20px;
   
}
.mais a{
    width: 200px;
    padding: 10px;
    text-decoration: none;
    background-color: #423F50;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    border-radius: 15px;
    transition: 1s ease;
}
.mais a:hover{
    color: #EAD41C; 
    padding: 13px;
    box-shadow: 10px 10px 10px #0000004f;
    transition: 1s ease;
}
.mais-projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.mais-projetos a{
    text-decoration: none;
    width: 100px;
    margin-top: 20px;
    background-color: #EAD41C;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    
}

/*Footer*/
.footer{
    width: 98.7vw;
    background-color: #282834;
    height: 25vw;
}
.conteudo-footer{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 85vw;
    padding: 30px;
    gap: 20px;
}
/*imformaçãoes*/
.conteudo-footer img{
    width: 200px;
    margin-bottom: 10px;
}
.contact p{
    margin-bottom: 10px;
}
/*Configuração h4*/
.conteudo-footer h4{
    font-size: 2em;
}
/*links*/
.conteudo-footer ul{
    margin-top: 20px;
    font-size: 1.1em;
    margin-left: 40px;
}

#cont{
    width: 600px;
}

/*inputs*/
.input{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#email{
  height: 20px;
  font-size: 1em;
  font-family:'Quicksand', sans-serif;
  padding: 10px;
}
#msg{
    max-height:90px ;
    font-family:'Quicksand', sans-serif;
    max-width: 400px;
    font-size: 1.3em;
    padding: 10px;
}
#envia{
    width: 100px;
    font-size: 1em;
    font-family:'Quicksand', sans-serif;
}