@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    padding: 0px;
    margin: 0px;

}
body{
    background: linear-gradient(#423F50 730px,#2d2b36 300px );
    color: white;
    font-family: 'Quicksand', sans-serif;

}
/*circulo*/
.circulo{
    position: relative;
}
#circulo{
    transform: translate(-50%,0%);
    left: 50%;
    background-color: #2d2b36;
    background-size: cover;
    background-attachment: fixed;
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 50%;
}
/*====================================================HOME========================================================*/
.minha-foto-celo{
    display: none;
}
.home{
    margin: auto;
    margin-top: 50px;
    display: flex;
    width: 85vw;
    justify-content: space-between;
    position: relative;
}

.sobre-mim{
    margin-top: 30px;
    position: relative;

}
#eu{
    font-size: 3em;
    position: relative;
    color: #a7a7a7;
}
#nome{
    font-size: 5em;
    width: 300px;
    position: relative;
    margin-bottom: 6px;
}
#linha{
    width: 170px;
    border-top: 3px solid #ffff00;
    margin-bottom: 10px;
}
.servico{
    position: relative;
}
#sobreM-txt{
    width: 250px;
    color: #a7a7a7;
    font-size: 1.1em;
}
.minha-foto img{
    width: 350px;
    position: relative;

}

.servico{
    position: relative;
    width: 300px;

    font-size: 1.1em;
}
#serv-txt{
    color: #a7a7a7;
    margin-bottom: 10px;

}
/*===================================================MINHAS REDES=======================================================*/
.contact{
    display: flex;
    background-color: #423F50;
    box-shadow: 10px 10px 20px 10px #23222b79;
    margin: auto;
    width: 85vw;
    height: 100px;
    justify-content: center;
}
.conteiner{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    grid-template-columns:0.1fr 0.1fr 0.1fr ;
    grid-template-areas: 
    "r1 r2 r3";
    gap: 40px;

}
#link{
    grid-area: r1;
}
#git{
    grid-area: r2;
}
#what{
    grid-area: r3;
}
.rede{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2b36;
    width: 85px;
    height: 85px;
    transition: 1s ease;
}
.rede i{
    font-size: 5em;
}
.rede:hover{
    transition: 1s ease;
    transform: scale(1.1);
}
/*----------------------------------------------MINHA EXPERIENCIA-------------------------------------------------------*/
.minha-experiencia{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100vh;
}
.experiencia{

    margin: auto;
    display: flex;
    flex-direction: column;
    width: 85vw;
}
.conteudo-txt {
    margin-bottom:50px ;
}
.conteudo-txt h2{
    font-size: 3em;
    margin-bottom: 20px;
}
.conteudo-txt p{
    color: #a7a7a7;
}
.icone-experiencia{
    display: flex;
    justify-content: space-between;
    left: 50%;
    gap: 100px;
    font-size: 10em;
}
.tecnologias{
    text-align: center;
    transition: 1s ease;
    background-color: #423F50;
    width: 30vw;
    height: 34vh;
    
}
.tecnologias:hover{
    transform:scale(1.1);
    box-shadow: 10px 10px 10px #100f1388;
    transition: 1s ease;
}

#html:hover{
    color: #bd5833;
    transition: 1s ease;
}
#css:hover{
    color: #3742df;
    transition: 1s ease;
}
#js:hover{
    color: #ffff00;
    transition: 1s ease;
}
/*--------------------------------------------------Meus projetos---------------------------------------------------*/
.meus-projetos{
    
    height: 100vh;
    background-color: #423F50;
}
.conteudos-projetos{
    padding-top: 50px;
    width: 85vw;
    margin: auto;
}
.txt-projeto h2{
    font-size: 3em;
    
    margin-bottom: 24px;
}
.txt-projeto p{
    font-size: 1.1;
    margin-bottom: 50px;
    
}
.informacao-pj{
    padding-top: 20px;
    margin-bottom: 5px;
    margin-left: 25px;
}
#tema{
    color: #ffff00;
    font-size: 1em;
    margin-bottom: 10px;
}
#nome-pj{
    margin-bottom: 10px;
}
.projeto{
    margin-top: 20px;
    margin-right: 70px;
    background-color: #2d2b36;
    box-shadow: 10px 10px 10px #1b1a2071;

    transition: 1s ease;
}
.projeto:hover{
    transition: 1s ease;
    transform: scale(1.1);
    box-shadow: 10px 10px 10px #0b0b0e5d;
}
.conteiner-projetos{
    width: 85vw;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "p1 p2";
}
#pj1{
    grid-area: p1;
}
#pj2{
    grid-area: p2;
}
.imagem-projeto img{
    width: 40vw
}
/*-------------------------------------------------FOOTER---------------------------------------------------------*/
