@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/*cor
f6b325
#F6B325
#423F50

*/
*{
    padding: 0px;
    margin: 0px;

}
body{
    background-color: #423F50;
    color: white;
    font-family: 'Quicksand', sans-serif;

}
/*Menu*/
.icone img{
    width: 120px;
    margin-right: 50px;
   
}
.cabesalho-menu{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
    width: 85vw;
  
    justify-content: space-between;
}
.cabesalho-menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    
}
.cabesalho-menu ul li{
    margin-right: 20px;
}
.cabesalho-menu ul li a{
    color: white;
    text-decoration: none;
}
/*conteudo-principal*/
.conteudo-principal{
    margin: auto;
    width: 98.7vw;
    height: 160vh;
  
    background-color: #423F50;
}
/*conteudo-home*/
.conteudo-home{
    display: flex;
    width: 85vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*Sobre mim*/
.sobre-mim{
    width: 400px;
}
#imagem img{
    width: 400px;
}
#sobre{


}
.im {
    font-size: 2em;
    margin-bottom: 15px;
}
.nome{
    font-size: 3.6em;
    margin-bottom: 15px;
}
.linha{
    width: 150px;
    height: 3px;
    margin-bottom: 15px;
    background-color: #F3B727;
}
#servico{
    width: 400px;
   
}

#text{
    margin-bottom: 15px;
}
#more{
    text-decoration: none;
    color: #F3B727;
}

/*minha-rede*/
.conteudo-sobre{
    position: relative;
}
.redes{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 85vw;
    transform: translate(-50%,-50%);
    left: 50%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.342);
    margin: auto;
    background-color: #423F50;
    padding: 10px; 
}
#rede1,#rede2{
    align-items: center;
    font-size: 5em;
    margin-right: 40px;
    color: #ffffff;
}
#rede1:hover{
    color: #016DA8;
    transition: .5s ease;
}
#rede2:hover{
    color: black;
    transition: .5s ease;
}
/*minha-experiencia*/
.minha-experiencia{
    display: flex;
    flex-direction: column;
    width: 98.7vw;
    height: 110vh;
    background-color: #282834;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.minha-experiencia h2{
    font-size: 4em;
}
.experiencia{
    display: flex;
    width: 85vw;
    text-align: center;
    margin-top: 20px;
    
}
#ex{
    transition: 1s ease;
    background-color: #423F50;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.342);
    padding: 20px;
    width: 390px;
    height: 310px;
 
}
#ex:hover{
    width: 395px;
    height: 310px;
}
.cont-ecrito p{
    font-size: 1.2em;
    align-items: center;
}
.html i,.css i,.js i{
    font-size: 10em;
}
.html:hover{
    color: #E56027;
    transition: 1s ease;
    
}
.css:hover{
    color: #146CAD;
    transition: 1s ease;
}
.js:hover{
    color: #EAD41C;
    transition: 1s ease;
}
/*conteudo-projetos*/
.conteudo-projetos{
    width: 98.7vw;
    height: 100vh;
    background-color: #423F50;

}
.tamanho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
}
.conteiner{
    width: 85vw;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 10vh;
    grid-template-areas:
    "a1 a2" 
    "a3 a4"
    "a5 a6";
    
}

.conteiner{
    display: flex;
    width: 85vw;
}
.projetos1{
    background-color: #0606da;
    height: 10px;
    width: 85vw;
}